<header class="top-header">
  <div class="container-fluid">
    <div class="row" style="margin: 0px 0px 5px 0px; height: 50px;">
      <div class="col-xs-5 col-md-2 header-logo" style="margin: 0px; height: 50px;">
        <!-- <br> -->
        <!-- <a href="index.html"><img src="assets/img/ibpc-logo.png" alt="" class="img-responsive logo"></a> -->
        <img src="assets/img/logos/ibpclogo-sm.png" alt="Brand Logo" style="height: 35px; width: 35px;">
        <a routerLink="/home"><label class="theme-gold">IBPC RAK UAE</label></a>
      </div>
      <div class="col-md-10" style="margin: 0px; height: 50px;">
        <nav class="navbar navbar-default" style="margin: 0px;">
          <div class="container-fluid nav-bar">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a class="menu active" routerLink="/home"><span class="fa fa-home"></span> Home</a></li>
                <li class="dropdown"><a class="menu dropdown-toggle" data-toggle="dropdown">Profile <span
                      class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a routerLink="/chamber-registration" class="menu">About Us</a></li>
                    <li><a routerLink="/chamber-registration" class="menu">Chamber Registration</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a class="menu dropdown-toggle" data-toggle="dropdown">Management <span
                      class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a routerLink="/affiliated-bodies" class="menu">Governing Council</a></li>
                    <li><a routerLink="/affiliated-bodies" class="menu">Affiliated Bodies</a></li>
                  </ul>
                </li>
                <li><a class="menu" routerLink="/membership">Membership</a></li>
                <li class="dropdown"><a class="menu dropdown-toggle" data-toggle="dropdown">Events <span
                      class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a routerLink="/affiliated-bodies" class="menu">News</a></li>
                    <li><a routerLink="/affiliated-bodies" class="menu">Gallery</a></li>
                  </ul>
                </li>
                <li><a class="menu" routerLink="/contact">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>