<!--====================================================
                         HEADER
======================================================--> 
<header>
  <!-- Top Navbar  -->
  <div class="top-menubar">
    <div class="topmenu">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <ul class="list-inline top-contacts">
              <li>
                <i class="fa fa-envelope"></i> Email: <a href="mailto:info@themeborn.com">info@themeborn.com</a>
              </li>
              <li>
                <i class="fa fa-phone"></i> Hotline: (1) 111 222 33
              </li>
            </ul>
          </div> 
          <div class="col-md-5">
            <ul class="list-inline top-data">
              <li><a href="#" target="_empty"><i class="fa top-social fa-facebook"></i></a></li>
              <li><a href="#" target="_empty"><i class="fa top-social fa-twitter"></i></a></li>
              <li><a href="#" target="_empty"><i class="fa top-social fa-google-plus"></i></a></li> 
            </ul>
          </div>
        </div>
      </div>
    </div> 
  </div> 
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light" id="mainNav" data-toggle="affix" style="z-index: 999999;">
    <div class="container">
      <a class="navbar-brand smooth-scroll" routerLink="/home">
        <!-- <img src="img/logo-s.png" alt="logo"> -->
        <img src="assets/img/logos/ibpclogo-sm.png" alt="Brand Logo" style="height: 35px; width: 35px;">
        <a routerLink="/home"><label class="theme-gold">IBPC RAK UAE</label></a>
      </a> 
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> 
      <span class="navbar-toggler-icon"></span>
      </button>  
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="/home">Home</a></li>
            <li class="nav-item dropdown" >
              <a class="nav-link dropdown-toggle smooth-scroll" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a> 
              <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="about.html">About Us</a>
                <a class="dropdown-item" href="careers.html">Chamber Registration</a>
              </div>
            </li>
            <li class="nav-item dropdown" >
              <a class="nav-link dropdown-toggle smooth-scroll" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Management</a> 
              <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink"> 
                <a class="dropdown-item"  target="_empty" href="admin/index.html">Governing Council</a> 
                <a class="dropdown-item"  target="_empty" href="admin/chart.html">Affiliated Bodies</a> 
              </div>
            </li>
            <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="/membership">Membership</a></li>
            <li class="nav-item dropdown" >
              <a class="nav-link dropdown-toggle smooth-scroll" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a> 
              <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/affiliated-bodies">News</a>
                <a class="dropdown-item" routerLink="/gallery">Gallery</a>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="/contact">Contact Us</a></li>
        </ul>  
      </div>
    </div>
  </nav>
</header>