<div class="carousel-inner" style="z-index: -999;">
  <div class="carousel-item active">
      <div class="mask1 flex-center">
          <div class="copule container">
              <div class="row align-items-center py-5">
                  <div class="col text-light text-center">
                      <h4>Present your <br>
                      awesome product</h4>
                      <h1>Viraj Rocks!</h1>
                      <p>
                        Lorem ipsum dolor sit amet. Reprehenderit, qui blanditiis quidem rerum <br>
                        necessitatibus praesentium voluptatum deleniti atque corrupti.
                      </p>
                      <p class="proboots">
                        <a href="#" class="btn btn-ghost btn-ghost-white">Viraj easy</a>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="pt-5">
  <div class="container accord-membership">
    <div class="text-membership text-center">
      <h3>Membership</h3>
      <h4 class="">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
          when an unknown printer took a galley of type and scrambled it to make a type specimen book
      </h4>
    </div>
    <div class="row py-5">
      <div class="col-4 text-center">
        <div class="box py-3 px-2">
          <img src="assets/img/team/1.jpg" alt="" class="w-70 border border-warning rounded-circle">
          <p class="statiname">
              General Membership
          </p>
          <p class="">
              General Membership shall be open to well established and distinguished 
              businessmen and senior professionals who are Indian Citizens or persons 
              of Indian Origin holding a valid residence or employment in the Ras Al Khaimah. 
              The membership will be by invitation, and all 
              membership applications will be approved by the Membership Screening 
              Committee and Governing Board
          </p>
          <span class="row text-center"> 
            <span class="col-12 down-arrow"> 
              <img alt="icon-down-arrow.png" src="assets/img/icon-down-arrow.png">
            </span>
          </span>
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="box py-3 px-2">
          <img src="assets/img/team/1.jpg" alt="" class="w-70 border border-warning rounded-circle">
          <p class="statiname">
              Honorary Membership
          </p>
          <p class="">
              General Membership shall be open to well established and distinguished 
              businessmen and senior professionals who are Indian Citizens or persons 
              of Indian Origin holding a valid residence or employment in the Ras Al Khaimah. 
              The membership will be by invitation, and all 
              membership applications will be approved by the Membership Screening 
              Committee and Governing Board
          </p>
          <span class="row text-center"> 
            <span class="col-12 down-arrow"> 
              <img alt="icon-down-arrow.png" src="assets/img/icon-down-arrow.png">
            </span>
          </span>
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="box py-3 px-2"> 
          <img src="assets/img/team/1.jpg" alt="" class="w-70 border border-warning rounded-circle">
          <p class="statiname">
              Corporate Membership
          </p>
          <p class="">
              General Membership shall be open to well established and distinguished 
              businessmen and senior professionals who are Indian Citizens or persons 
              of Indian Origin holding a valid residence or employment in the Ras Al Khaimah. 
              The membership will be by invitation, and all 
              membership applications will be approved by the Membership Screening 
              Committee and Governing Board
          </p>
          <span class="row text-center"> 
            <span class="col-12 down-arrow"> 
              <img alt="icon-down-arrow.png" src="assets/img/icon-down-arrow.png">
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="accord-paster py-5">
    <div class="container">
      <p class="">
        <a class="btn border-98 px-1 mr-3 text-light" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Membership Benefits
        </a>
        <button class="btn btn-now" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Membership subscription fees
        </button>
      </p>
      <div class="collapse" id="collapseExample">
          <div class="card card-body">
              Membership will be against the onetime payment of an of amount AED 1,000/- 
              for General Membership and AED 2,000/- for Corporate Membership and shall be
              considered as a fee which will remain in the IBPC Bank Account. In addition 
              to this, individual members shall pay an additional amount of AED 200/- 
              and corporate members shall pay AED 500/- as annual fee to meet costs of IBPC
              RAK meetings etc. The fee structure shall be reviewed by the 
              Governing Council and revised as may be considered appropriate as per by-laws
              of the Council.
          </div>
      </div>
    </div>
  </div>

  <div id="client" class="client">
    <div class="container">
      <div class="row title-bar">
        <div class="col-md-12">
          <h1 class="wow ">Lorem Ipsum is simply</h1>
          <div class="heading-border"></div>
          <p class="wow">We committed to helping you maintain your Brand Value.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="client-cont">
            <h5>Membership</h5>
            <i class="fa fa-quote-left"></i>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <p class="proboots bg-d btn-70 text-light">
              <a href="#" class="btn text-light">Ready</a>
            </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="client-cont">
            <h5>Membership Professional</h5>
            <i class="fa fa-quote-left"></i>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <p class="proboots bg-d btn-70 ">
              <a href="#" class="btn text-light">Ready</a>
            </p>
          </div>
        </div>
      </div>
    </div>        
  </div>

</div>