<footer>
		<div class="content">
			<div id="emailsignup">
				<a routerLink="/home" class="footer-logo">IBPCRAK UAE</a> <span style="position: relative; top: 40px;">IBPCRAK UAE</span>
				<p>Stay in the know. Receive our weekly newsletter and stay on top of what's available on IBPC.<br style="margin: 0 0 12px 0;"><a routerLink="//www.proxibid.com/marketingimages/masterblaster.html">View this week's newsletter</a></p>
				<p><a class="btn" style="display:inline-block;" routerLink="/membership">Sign up for our membership</a></p>
			</div>
			<div id="helpfullinks">
				<div>
					<p class="category"><a>Links</a></p>
					<ul>
						<li><a routerLink="/home">Home</a></li>
						<li><a routerLink="/chamber-registration">About Us</a></li>
						<li><a routerLink="/chamber-registration">Chamber Registration</a></li>
						<li><a routerLink="/affiliated-bodies">Governing Council</a></li>
						<li><a routerLink="/affiliated-bodies">Affiliated Bodies</a></li>
						<li><a routerLink="/membership">Membership</a></li>
						<li><a routerLink="/">News</a></li>
						<li><a routerLink="/">Gallery</a></li>
						<li><a routerLink="/contact">Contact Us</a></li>
					</ul>
				</div>
				<div>
					<p class="category"><a>Follow Us On</a></p>
					<ul>
						<li><a routerLink=""><i class="fa fa-facebook"></i> Facebook</a></li>
						<li><a routerLink=""><i class="fa fa-twitter"></i> Twitter</a></li>
						<li><a routerLink=""><i class="fa fa-skype"></i> Skype</a></li>
					</ul>
				</div>
				<div class="clear"></div>
      </div>
      <div class="clear"></div>
      <p style="color: white;">&copy; 2019 Indian Business Professional Council. All rights reserved</p>
		</div>
	</footer>