<footer> 
  <div id="footer-s1" class="footer-s1">
    <div class="footer">
      <div class="container">
        <div class="row">
          <!-- About Us -->
          <div class="col-md-3 col-sm-6 text-light">
            <div>
              <img src="assets/img/logos/ibpclogo-sm.png" alt="Brand Logo" style="height: 35px; width: 35px;">
            </div>    
            <a routerLink="/home" class="footer-logo text-light">IBPCRAK UAE</a>
      			<p class="text-light">
      				Stay in the know. Receive our weekly newsletter and stay on top of what's available on IBPC.
      			</p>
    			<!-- <p>
    				<a class="btn" style="display:inline-block;" routerLink="/membership">Sign up for our membership</a>
    			</p> -->
          </div>
          <!-- End About Us -->
          <!-- Recent News -->
          <div class="col-md-3 col-sm-6 ">
            <div class="heading-footer"><h2>Useful Links</h2></div>
            <ul class="list-unstyled link-list">
            	<li><a routerLink="/home">Home</a>&nbsp; <i class="fa fa-angle-right"></i></li>
              <li><a routerLink="/chamber-registration">About Us</a>&nbsp; <i class="fa fa-angle-right"></i></li>
              <li><a routerLink="/chamber-registration">Chamber Registration</a>&nbsp; <i class="fa fa-angle-right"></i></li>
              <li><a routerLink="/affiliated-bodies">Governing Council</a>&nbsp; <i class="fa fa-angle-right"></i></li>
              <li><a routerLink="/affiliated-bodies">Affiliated Bodies</a>&nbsp; <i class="fa fa-angle-right"></i></li>
              <li><a routerLink="/membership">Membership</a>&nbsp; <i class="fa fa-angle-right"></i></li>
              <li><a routerLink="/">News</a>&nbsp; <i class="fa fa-angle-right"></i></li>
              <li><a routerLink="/">Gallery</a>&nbsp; <i class="fa fa-angle-right"></i></li>
              <li><a routerLink="/contact">Contact Us</a>&nbsp; <i class="fa fa-angle-right"></i></li>
            </ul>
          </div>
          <!-- End Recent list -->
          <!-- Recent Blog Entries -->
          <div class="col-md-3 col-sm-6 ">
            <div class="heading-footer"><h2>Recent Post Entries</h2></div>
            <ul class="list-unstyled thumb-list">
              <li>
                <div class="overflow-h">
                  <a href="#">Praesent ut consectetur diam.</a>
                  <small class="text-light">02 OCT, 2017</small>
                </div>
              </li>
              <li>
                <div class="overflow-h">
                  <a href="#">Maecenas pharetra tellus et fringilla.</a>
                  <small class="text-light">02 OCT, 2017</small>
                </div>
              </li>
            </ul>
          </div>
          <!-- End Recent Blog Entries -->
          <!-- Latest Tweets -->
          <div class="col-md-3 col-sm-6">
            <div class="heading-footer"><h2>Get In Touch</h2></div>
            <address class="address-details-f">
              25, Dist town Street, Logn <br>
              California, US <br>
              Phone: 800 123 3456 <br>
              Fax: 800 123 3456 <br>
              Email: <a href="mailto:info@Businessbox.com" class="">info@Businessbox.com</a>
            </address>  
            <ul class="list-inline social-icon-f top-data">
              <li><a routerLink="" target="_empty"><i class="fa fa-facebook"></i></a></li>
			  <li><a routerLink="" target="_empty"><i class="fa fa-twitter"></i></a></li>
			  <li><a routerLink="" target="_empty"><i class="fa fa-skype"></i></a></li> 
            </ul>
          </div>
          <!-- End Latest Tweets -->
        </div>
      </div><!--/container -->
    </div> 
  </div>
  <div id="footer-bottom">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div id="footer-copyrights">
                      <p>Copyrights &copy; 2019 Indian Business Professional Council. All rights reserved. <a href="#" class="color-d">Privacy Policy</a> <a href="#" class="color-d">Terms of Services</a></p>
                  </div>
              </div> 
          </div>
      </div>
  </div>
  <!-- <a href="#home" id="back-to-top" class="btn btn-sm btn-green btn-back-to-top smooth-scrolls hidden-sm hidden-xs" title="home" role="button">
      <i class="fa fa-angle-up"></i>
  </a> -->
</footer>